a{
    color:goldenrod;
}
.common{
    color: antiquewhite;
    border: 2px white;
    position: absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 200px;
    z-index: 2;
}
.leftmenu{
    top: 114px;
    left: 300px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
}
.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-top: 35px;
    padding-right: 5px;
    text-align: center;
}
.rightmenu{
    top: 114px;
    right: 150px;
    width: 300px;
    bottom: 39px;
    padding-left: 50px;
}
.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: darkgrey;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.tablcenter{
    width: auto;
      margin-left: 20%;
      margin-right: 50%;
}

.tableau-center {
    margin: 50px;


    /* width: 1000px;
    margin-left: 0px;
    margin-right: 100px; */
}
.col-bg{
    background-color: #555555;
}
.center{
    text-align: center;
}
.elvistitle{
    font-size: large;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    margin-top: 1px;
}
.img{
    float: left;
    margin-right: 1000px;
}
.moveit{
    padding-left: 105px;

}
p{
    display: block;
}
/* .justify{
    text-align: block;

} */
.div{
    display: inline-flex;
}
.help{
    padding: 0px 177px 0px;
    font-weight: bold;
    width:auto;
    min-width:300px;
}
.inwardlist{
    padding-left: 35px;
}
.nowrap{
    width: 350px;
}
.padding{
    padding-left: 75px;
}
.listtitle{
    font-size: 20px;
    text-decoration: underline;
}
.vid{
    padding-right: 30px;

}
.vmove{
    align-items: center;
}
.underline{
    text-decoration: underline;
}
a:hover{
    font-size: large;
}